<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form class="" action="/" method="post">
      <h4>Form</h4>
      <p>Name</p>
      <input type="text" name="fullName" value="">
      <p>Email</p>
      <input type="email" name="email" value="">
      <p>Year of Birth</p>
      <input type="number" name="birthyear" min="1900" max="2017" step="1" value="2016" />
      <p>Position</p>
      <input type="radio" name="position" value="technical-manager" checked> Technical manager
      <input type="radio" name="position" value="developer"> Developer
      <input type="radio" name="position" value="ui-designer"> UI designer
      <input type="radio" name="position" value="graphic-designer"> Graphic designer
      <p>Password</p>
      <input type="password" name="password" value="">
      <button type="submit">Go</button>
    </form>
  </body>
</html>
